<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="site-title">
        <h1 class="title is-4">
          <a class="" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        </h1>
        <h4>{{ .Site.Params.Info.subTitle }}</h4>
      </div>
      <div class="nav-right">
        <nav class="nav-item is-mobile">
          {{ $url := .RelPermalink }}<!---->
          {{ with site.Menus.main }} {{ range . }}
          <a class="{{ if eq .URL $url }} active{{ end }}" href="{{ .URL }}"
            >{{ .Name }}</a
          >
          {{ end }} {{ end }}<!---->
        </nav>
      </div>
    </nav>
  </div>
</section>
