{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section article-list">
  <div class="container">
    {{- $pages := . -}}
    {{- if .IsHome -}}
    {{- $pages = .Site.RegularPages -}}
    {{- else -}}
    {{ $pages = .Pages -}}
    {{- end -}}
    {{ $invalidTypes := slice "about" "share" "notes" }}
    {{ $paginator := .Paginate (where $pages "Type" "not in" $invalidTypes) }}
    {{ range sort $paginator.Pages }}
    <article>
      <div class="subtitle is-6 is-pulled-right">
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
        {{ partial "reading-time" .ReadingTime }}
      </div>
      <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <div class="content">
        {{ if .Params.description }}
          {{ .Params.description }}
        {{ else }}
          {{ .Summary | plainify | safeHTML }}
          {{ if .Truncated }}
          <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
            Read more
          </a>
          {{ end }}
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }}
{{ partial "footer" . }}
