{{ partial "header" . }}
{{ partial "nav" . }}
<section class="section">
  <div class="container">
    <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
    <h1 class="title">{{ .Title }}</h1>
    <div class="content">
      {{ if .Params.description }}
        <p class="excerpt">
          {{ .Params.description }}
        </p>
      {{ end }}
      {{ partial "toc" . }}
      {{ .Content }}
    </div>
  </div>
</section>

{{ if .Site.Params.Info.enableUtterances }}
{{- partial "social/utterances" . -}}
{{ end }}

{{ if .Page.Store.Get "hasMermaid" }}
  <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
  <script>
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}

{{ partial "footer" . }}