.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    justify-content: center;
  }

  .nav .nav-right {
    align-self: center;
    margin: .8rem 0;
  }
}

.site-title h1 a {
  color: var(--bg-color-light);
  font-family: 'Raleway';
  font-size: 64px;
  text-decoration: none;
  text-shadow: -2px -2px 0 var(--primary-color), 2px -2px 0 var(--primary-color), -2px 2px 0 var(--primary-color), 2px 2px 0 var(--primary-color);
}

.site-title h1 a:hover,
.site-title h1 a:active {
  text-decoration: none;
  border-bottom: 0;
}

.site-title h4 {
  font-family: 'Raleway';
  color: var(--brand-color);
  background: var(--primary-color);
  padding: 10px;
  transform: rotate(-3deg);
  margin-top: -18px;
}

.nav-item a {
  color: black;
  font-family: 'Raleway';
  font-size: 14px;
}

.site-title .title {
  text-align: left;
  margin-bottom: 10px;
  font-weight: bold;
}

.nav-item a {
  text-decoration: none;
  margin-left: 10px;
}

.nav-item a:hover {
  color: var(--brand-color);
}

.nav-right {
  align-self: center;
  margin-bottom: .8rem;
}
