:root {
  --brand-color: #ff9900;
  --primary-color: #250054;
  --secondary-color: #C07300;
  --bg-color-light: #FCFAFF;
  --bg-color-dark: #250054;

  --link-color: #D27E00;
  --text-color: #42464c;
  --subtitle-color: #69707a;
  --excerpt-color: #a995c6;
}